body {
  background-color: #427df4;
}

h3, h1 {
  text-align: center;
}

#tooltip {
  padding: 5px 5px 5px 5px;
  position: absolute;
  text-align: left;
  font-size: 15px;
  color: : #000000;
  background: #a5a5a5;
}

.legend {
  text-anchor: end;
}